.m-blog-item--horizontal{
    max-width: 1000px;
    margin: 0 auto 30px;
    text-align: left;
    @include breakpoints(666px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mbi-image{
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 320px;

        @include breakpoints(666px){
            flex-basis: 40%;
            margin-right: 5%;
        }
    }

    .mbi-content{
        padding: 30px 10px;

        @include breakpoints(666px){
            flex-basis: 55%;
        }

        .mbi-title{
            color: $black;
            font-family: $Cera;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 20px;
        }

        .mbi-body{
            color: $lightgrey;
            font-weight: normal;
            font-family: $Cera;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 30px;
        }
    }
}

.m-blog-item--featured{
    
    
    @include breakpoints(medium){
        display: flex;
        flex-direction: row;
    }

    a{
        text-decoration: none;
    }

    .mbif-content{
                
        @include breakpoints(medium){
            flex-basis: 55%;
            position: relative;
            z-index: 2;
        }
        
        .mbif-header{
            h4{
                background-color: $blue;
                display: inline-block;
                color: #FFFFFF;
                font-family: $Cera;
                font-weight: normal;
                font-size: 11px;
                letter-spacing: 1px;
                line-height: 14px;
                padding: 6px 12px;
                border-radius: 4px;
                text-transform: uppercase;
            }
        }
        
        
        h1{
            font-size: 31px;
            line-height: 35px;
            margin-bottom: 20px;
            @include breakpoints(medium){
                font-size: 42px;
                line-height: 48px;
            }

            @include breakpoints(large){
                font-size: 62px;
                line-height: 72px;
                margin-bottom: 30px;
            }
        }

        p{
            color: $lightgrey;
            font-family: $Cera;	
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 20px;
            @include breakpoints(medium){
                max-width: 80%;
                margin-bottom: 30px;
            }
        }

        .mbi-author{
            margin-bottom: 30px;
            @include breakpoints(medium){
                max-width: 80%;
                margin-bottom: 0px;
            }
        }

    }

    .mbif-img{
        display: block;
        background-color: #ddd;
        min-height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include breakpoints(medium){
            flex-basis: 53%;
            margin-left: -8%;
        }
    }
}


.m-blog-item--vertical{
    a{
        text-decoration: none;
    }
    .mbiv-img{
        display: block;
        height: 240px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #ddd;
    }
    
    .mbiv-content{
        padding: 20px;
        .mbiv-title{
            color: $black;	
            font-family: $Cera;
            font-weight: bold;
            font-size: 21px;
            line-height: 29px;
            min-height: 130px;
        }
    }

    .mbi-author{
        .mbi-a-content{
            h4{
                color: $lightgrey;	
                font-weight: normal;
                font-style: normal;
                font-size: 12px;
                line-height: 28px;
                text-transform: uppercase;
                margin-top: 10px;
            }
        }
    }
}

.mbi-author{
    @include clearfix;

    .mbi-a-image{
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mbi-a-content{
        float: left;
        width: calc(100% - 50px);
        padding-left: 10px;

        h4{
            color: $black;
            font-family: $Cera;	
            font-weight: bold;
            font-style: italic;
            font-size: 18px;
            line-height: 22px;
        }
    }
}