.p-home-sec1{
    padding: 50px 0px;
    .phsc1-item{
        @include breakpoints(600px){
            display: flex;
            justify-content: space-between;
            
            &.phsc1-right{
                flex-direction: row-reverse;                
            }

            &.phsc1-left{
                flex-direction: row;                
            }

            .phsc1-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 40%;
            }

            .phsc1-img{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 40%;
            }
        }
    }
}

.p-home-travel-prices{
    background-image: url('../img/travels-bg.jpg');

}