h1{
    @include text-format(48px, $JosefineSans, $primary-color);
    line-height: rem-calc(51px);
    font-weight: bold;
}
h2{
    @include text-format(36px, $JosefineSans, $primary-color);
    line-height: rem-calc(42px);
    font-weight: bold;
}
h3{
    @include text-format(29px, $JosefineSans, $primary-color);
    line-height: rem-calc(39px);
    font-weight: bold;
}
h4{
    @include text-format(26px, $JosefineSans, $primary-color);
    line-height: rem-calc(36px);
    font-weight: bold;
}
h5{
    @include text-format(22px, $JosefineSans, $primary-color);
    line-height: rem-calc(28px);  
    font-weight: bold;
}
h6{
    @include text-format(17px, $JosefineSans, $primary-color);
    line-height: rem-calc(22px);  
    font-weight: bold;
}
p{
    @include text-format(18px, $JosefineSans, $secondary-color);
    line-height: rem-calc(20px);
}
label{
    @include text-format(16px, $JosefineSans, $primary-color);
    line-height: rem-calc(20px);
}
a{
    color: $primary-color;
    line-height: rem-calc(20px);  
}

i, em {
    font-style: italic;
}

b, strong{
    font-weight: bold;
}