%a-button--small{
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;	
    font-family: $JosefineSans;	
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    padding: 11px 15px;
    min-width: 100px;
    text-transform: uppercase;
    text-decoration: none;
}

%a-button--medium{
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;	
    font-family: $JosefineSans;	
    font-size: 18px;
    padding: 15px 22px;
    min-width: 142px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

%a-button--big{
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;	
    font-family: $JosefineSans;	
    font-size: 14px;
    padding: 23px 30px;
    min-width: 208px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

%a-button--growing{
    @extend %a-button--small;

    @include breakpoints(medium){
        font-size: 14px;
        padding: 23px 30px;
        min-width: 183px;
    }
}