header{
    background-color: #e4eff0;
    width: 100%;
    box-shadow: none;

    @include breakpoints($menu-break){
        padding: 10px 0px;
    }

    .logo{
        width: 100px;
      
        @include breakpoints($menu-break){
            display: inline-block;
        }
    }
}