header{
    position: absolute;
    width: 100%;
    box-shadow: none;
    z-index: 10;
    .header-content{
        @include clearfix();
        position: relative;
    }

    .header-navigation{
        float: right;
        z-index: 202;
    }
    .a-button--small--yellow{
        vertical-align: top;
        margin: 15px 0px 15px 15px;
        display: none;

        @include breakpoints(large){
            display: inline-block;
        }
    }

    .m-menu--primary{
        display: none;
        
        @include breakpoints(large){
            display: inline-block;
        }
    }

    #m-burger-menu {
        margin: 20px 0px;
        @include breakpoints(large){
            margin: 28px 0px;
        }
    }

    .logo{
        background-image: url('../img/logos/logo-jaral-black.svg');
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 202;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        width: 120px;
        height: 50px;

        .skin--white &{
            background-image: url('../img/logos/logo-jaral-white.svg');
        }
        
        @include breakpoints(large){
            position: relative;
            left: 0;
            transform: translateX(0%);
            width: 190px;
            height: 70px;
        }
    }
}